<form action='/conversations' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= @authenticity_token %>">
  <input type="hidden" name="user1_id" value="<%= params[:user1_id] %>">
  <input type="hidden" name="user2_id" value="<%= params[:user2_id] %>">
  <label for='code_key'></label>
  <input type='text' name='code_key' id='code_key'>
  <input type='submit' name='commit' value='set key' data-disable-with='set key'>
</form>
