/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* GENERAL */

body {
  font-family: 'Source Sans Pro', sans-serif;

}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

#alert, #notice, .navbar {
 position: relative;
}

.navbar {
  text-align: right;
  width: 100%;
  z-index: 5;
}

#message-top {
  text-align: center;
  margin-left: 300px;
}

#message_body {
  width: 100%;
  border-radius: 25px;
  height: 30px;
  outline-width: 0;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 15px;
}


/* CONVERSATIONS */

.convo-header {
  padding: 10px;
  background-color: #9dcfbc;
  margin: 0px;
  font-size: 20px;
}

.blank {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #457563;
  background-image: url('https://github.com/LeePedersen/letterwheel/blob/master/app/assets/images/letter_wheel.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin-left: 260px;
}


/* SIDEBAR */

.contacts, .users {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #c1ded3;
}

.contact, .user {
  font-size: 20px;
  padding: 10px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #457563;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-right: 10px;
}

.selected {
  background-color: #9dcfbc;
}


/* MESSAGES */

.messages {
  margin-left: 300px;
  width: 70%;
  position: fixed;
  bottom: 10px;
  background-color: white;
}

.messages-scroll {
  height: 100vh;
  margin-bottom: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.me, .you {
  margin: 10px;
  padding: 12px;
  border-radius: 15px;
  background-color: #d0dbd7;
  font-size: 16px;
  text-align: right;
  width: -webkit-max-content;
  width: max-content;
}

.me {
  margin: auto 10px 10px auto;
}

.you {
  background-color: #9dcfbc;
  text-align: left;
}

.timestamp {
  font-size: 13px;
}

.read {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: solid 1px #457563;
  display: inline-block;
  margin-top: 5px;
}

.you .read {
  float: left;
  margin-right: 3px;
}

.me .read {
  float: right;
  margin-left: 3px;
}

.is-read {
  background-color: #457563;
}

/* SIGNUP/IN */

.header {
  text-align: center;
}

.background-page {
  position: absolute;
  z-index: 1;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #457563;
  background-image: url('https://github.com/LeePedersen/letterwheel/blob/master/app/assets/images/letter_wheel.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.all-forms {
  margin: auto;
  width: 30%;
  border: solid 1px #134734;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  background-color: white;
  /* box-shadow: 4px 8px rgba(19, 71, 52, .7); */
  margin-top: 100px;
}

#signup-link {
  font-weight: bold;
}

.form-item {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

#sign-button {
  background-image: linear-gradient(#325447, #5c9c83);
  color: white;
  font-style: bold;
}

#password-info {
  font-size: 13px;
  padding-bottom: 15px;
}
