<div class='navbar'>
  <% if current_user %>
    <span><%= link_to "Sign out", '/signout' %></span>
  <% else %>
    <span><%= link_to "Sign up", '/signup' %> |</span>
    <span><%= link_to "Sign in", '/' %></span>
  <% end %>
</div>
