<div class='navbar'>
  <% if current_user %>
    <span><%= link_to "Sign out", '/signout' %> |</span>
    <span><%= link_to "Chat", '/conversations' %> </span>
  <% else %>
    <span><%= link_to "Sign up", '/signup' %> |</span>
    <span><%= link_to "Sign in", '/' %></span>
  <% end %>
</div>
